<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="pres">
            <h1>Hello</h1>  
            <div> 
                <p>message</p>
                <form method="POST" action="/ajouter">
                    <input name="message" placeholder="Ton message">
                    <button type="submit">Envoyer</button>
                </form>

                <ul>
                    {% for msg in messages %}
                        <li>{{ msg[0] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</body>
</html>